---
title: "09wk-1: 추천시스템"
author: "최규빈"
date: "04/28/2024"
draft: true
---

In [2]:
import torch
import numpy as np 
import pandas as pd
import fastai.collab

In [3]:
df_view = pd.read_csv('https://raw.githubusercontent.com/guebin/STML2022/main/posts/V.%20RecSys/2022-12-21-rcmdsolo.csv',index_col=0)
df_view

     영식   영철   영호   광수   상철   영수
옥순  3.9  4.1  NaN  0.5  0.3  NaN
영자  4.5  NaN  3.7  0.5  NaN  0.2
정숙  NaN  4.9  4.7  NaN  1.2  1.3
영숙  0.6  0.2  NaN  4.1  4.3  NaN
순자  0.7  0.9  NaN  4.2  NaN  3.9
현숙  NaN  0.2  0.3  NaN  3.5  3.4

In [4]:
a1 = np.array([1.9,0.0]).reshape(2,1) 
b1= np.array([2.0,0.1]).reshape(2,1)

In [5]:
sum(a1*b1)

array([3.8])

In [6]:
a1= np.array([1.9,0.0]).reshape(2,1)
a2= np.array([2.0,0.1]).reshape(2,1)
a3= np.array([2.5,1.0]).reshape(2,1)
a4= np.array([0.1,1.9]).reshape(2,1)
a5= np.array([0.2,2.1]).reshape(2,1)
a6= np.array([0.0,1.5]).reshape(2,1)
A = np.concatenate([a1,a2,a3,a4,a5,a6],axis=1)
A

array([[1.9, 2. , 2.5, 0.1, 0.2, 0. ],
       [0. , 0.1, 1. , 1.9, 2.1, 1.5]])

In [7]:
b1= np.array([2.0,0.1]).reshape(2,1)
b2= np.array([1.9,0.2]).reshape(2,1)
b3= np.array([1.8,0.3]).reshape(2,1)
b4= np.array([0.3,2.1]).reshape(2,1)
b5= np.array([0.2,2.0]).reshape(2,1)
b6= np.array([0.1,1.9]).reshape(2,1)
B = np.concatenate([b1,b2,b3,b4,b5,b6],axis=1)
B

array([[2. , 1.9, 1.8, 0.3, 0.2, 0.1],
       [0.1, 0.2, 0.3, 2.1, 2. , 1.9]])

In [8]:
A.T@B

array([[3.8 , 3.61, 3.42, 0.57, 0.38, 0.19],
       [4.01, 3.82, 3.63, 0.81, 0.6 , 0.39],
       [5.1 , 4.95, 4.8 , 2.85, 2.5 , 2.15],
       [0.39, 0.57, 0.75, 4.02, 3.82, 3.62],
       [0.61, 0.8 , 0.99, 4.47, 4.24, 4.01],
       [0.15, 0.3 , 0.45, 3.15, 3.  , 2.85]])

In [9]:
a1.T@b1, a2.T@b2, a3.T@b1

(array([[3.8]]), array([[3.82]]), array([[5.1]]))

In [10]:
A.T@B

array([[3.8 , 3.61, 3.42, 0.57, 0.38, 0.19],
       [4.01, 3.82, 3.63, 0.81, 0.6 , 0.39],
       [5.1 , 4.95, 4.8 , 2.85, 2.5 , 2.15],
       [0.39, 0.57, 0.75, 4.02, 3.82, 3.62],
       [0.61, 0.8 , 0.99, 4.47, 4.24, 4.01],
       [0.15, 0.3 , 0.45, 3.15, 3.  , 2.85]])

In [11]:
df_view

     영식   영철   영호   광수   상철   영수
옥순  3.9  4.1  NaN  0.5  0.3  NaN
영자  4.5  NaN  3.7  0.5  NaN  0.2
정숙  NaN  4.9  4.7  NaN  1.2  1.3
영숙  0.6  0.2  NaN  4.1  4.3  NaN
순자  0.7  0.9  NaN  4.2  NaN  3.9
현숙  NaN  0.2  0.3  NaN  3.5  3.4

In [12]:
df = pd.DataFrame([(f,m,df_view.loc[f,m]) for f in df_view.index for m in df_view.columns if not np.isnan(df_view.loc[f,m])])
df.columns = ['X1','X2','y']
df

    X1  X2    y
0   옥순  영식  3.9
1   옥순  영철  4.1
2   옥순  광수  0.5
3   옥순  상철  0.3
4   영자  영식  4.5
5   영자  영호  3.7
6   영자  광수  0.5
7   영자  영수  0.2
8   정숙  영철  4.9
9   정숙  영호  4.7
10  정숙  상철  1.2
11  정숙  영수  1.3
12  영숙  영식  0.6
13  영숙  영철  0.2
14  영숙  광수  4.1
15  영숙  상철  4.3
16  순자  영식  0.7
17  순자  영철  0.9
18  순자  광수  4.2
19  순자  영수  3.9
20  현숙  영철  0.2
21  현숙  영호  0.3
22  현숙  상철  3.5
23  현숙  영수  3.4

In [13]:
mapp1 = {k[1]:k[0] for k in enumerate(df.X1.unique())}
mapp2 = {k[1]:k[0] for k in enumerate(df.X2.unique())}
mapp1,mapp2

({'옥순': 0, '영자': 1, '정숙': 2, '영숙': 3, '순자': 4, '현숙': 5},
 {'영식': 0, '영철': 1, '광수': 2, '상철': 3, '영호': 4, '영수': 5})

In [38]:
X1 = torch.tensor(list(map(lambda name: mapp1[name], df.X1)))
X2 = torch.tensor(list(map(lambda name: mapp2[name], df.X2)))
X1_onehot = torch.nn.functional.one_hot(X1).float()
X2_onehot = torch.nn.functional.one_hot(X2).float()
y = torch.tensor(df.y).float()

In [39]:
X1,X2,y

(tensor([0, 0, 0, 0, 1, 1, 1, 1, 2, 2, 2, 2, 3, 3, 3, 3, 4, 4, 4, 4, 5, 5, 5, 5]),
 tensor([0, 1, 2, 3, 0, 4, 2, 5, 1, 4, 3, 5, 0, 1, 2, 3, 0, 1, 2, 5, 1, 4, 3, 5]),
 tensor([3.9000, 4.1000, 0.5000, 0.3000, 4.5000, 3.7000, 0.5000, 0.2000, 4.9000,
         4.7000, 1.2000, 1.3000, 0.6000, 0.2000, 4.1000, 4.3000, 0.7000, 0.9000,
         4.2000, 3.9000, 0.2000, 0.3000, 3.5000, 3.4000]))

In [40]:
X1_ebdd

tensor([[1., 0., 0., 0., 0., 0.],
        [1., 0., 0., 0., 0., 0.],
        [1., 0., 0., 0., 0., 0.],
        [1., 0., 0., 0., 0., 0.],
        [0., 1., 0., 0., 0., 0.],
        [0., 1., 0., 0., 0., 0.],
        [0., 1., 0., 0., 0., 0.],
        [0., 1., 0., 0., 0., 0.],
        [0., 0., 1., 0., 0., 0.],
        [0., 0., 1., 0., 0., 0.],
        [0., 0., 1., 0., 0., 0.],
        [0., 0., 1., 0., 0., 0.],
        [0., 0., 0., 1., 0., 0.],
        [0., 0., 0., 1., 0., 0.],
        [0., 0., 0., 1., 0., 0.],
        [0., 0., 0., 1., 0., 0.],
        [0., 0., 0., 0., 1., 0.],
        [0., 0., 0., 0., 1., 0.],
        [0., 0., 0., 0., 1., 0.],
        [0., 0., 0., 0., 1., 0.],
        [0., 0., 0., 0., 0., 1.],
        [0., 0., 0., 0., 0., 1.],
        [0., 0., 0., 0., 0., 1.],
        [0., 0., 0., 0., 0., 1.]])

In [41]:
e1 = torch.nn.Embedding(6,2)
l1 = torch.nn.Linear(in_features=6,out_features=2)

In [42]:
ebdd(X1),l1(X1_onehot)

(tensor([[ 2.6026,  0.4667],
         [ 2.6026,  0.4667],
         [ 2.6026,  0.4667],
         [ 2.6026,  0.4667],
         [ 0.1359, -0.1735],
         [ 0.1359, -0.1735],
         [ 0.1359, -0.1735],
         [ 0.1359, -0.1735],
         [-1.0644, -0.2754],
         [-1.0644, -0.2754],
         [-1.0644, -0.2754],
         [-1.0644, -0.2754],
         [-1.0586,  0.3923],
         [-1.0586,  0.3923],
         [-1.0586,  0.3923],
         [-1.0586,  0.3923],
         [-0.4783, -1.7533],
         [-0.4783, -1.7533],
         [-0.4783, -1.7533],
         [-0.4783, -1.7533],
         [ 0.6503, -0.0975],
         [ 0.6503, -0.0975],
         [ 0.6503, -0.0975],
         [ 0.6503, -0.0975]], grad_fn=<EmbeddingBackward0>),
 tensor([[-0.0844,  0.3446],
         [-0.0844,  0.3446],
         [-0.0844,  0.3446],
         [-0.0844,  0.3446],
         [-0.1052, -0.0718],
         [-0.1052, -0.0718],
         [-0.1052, -0.0718],
         [-0.1052, -0.0718],
         [-0.0119,  0.2076],
         [-0.0119,  0.2076],
         [-0.0119,  0.2076],
         [-0.0119,  0.2076],
         [-0.2060,  0.1455],
         [-0.2060,  0.1455],
         [-0.2060,  0.1455],
         [-0.2060,  0.1455],
         [-0.0590, -0.1849],
         [-0.0590, -0.1849],
         [-0.0590, -0.1849],
         [-0.0590, -0.1849],
         [ 0.0080,  0.1759],
         [ 0.0080,  0.1759],
         [ 0.0080,  0.1759],
         [ 0.0080,  0.1759]], grad_fn=<AddmmBackward0>))

In [ ]:
li